#ticker {
    background-color: #FFF;
    overflow: auto;
    height: 30px;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

#ticker ul {
    display: block;
    padding: 0px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0px;
    list-style: none;
    white-space: nowrap;
    animation: scroll 10s linear 0s infinite;
    position: absolute;


}

#ticker ul:hover{
    animation-play-state: paused
}

#ticker ul li {
    display: inline-block;
    white-space: normal;
    margin-left: 20px;
}

#ticker .title {
    background-color: red;
    color: #FFF;
    position: absolute;
    left: 0;
    font-weight: bold;
    border-right: 2px solid #FFF;
    top: 0;
    display: block;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
}

@keyframes scroll {
    from {
        transform: translate(100%, 0);

    }

    to {
        transform: translate(-150%, 0);

    }
}

/* Custom CSS */
#ticker ul {
    width: 100%;
}